.msg-ctn {
    border: solid 2px gray;
    border-radius: 0.25rem;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.category {
    float: right;
    font-size: smaller;
    margin-top: -10px;
    margin-right: -5px;
    font-weight: bold;
    color: gray;
}
.priority-ctn {
    border-radius: 0.25rem;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 14px;
    color: #fff;
    padding: 0.25rem;
    display: inline-block;
}

.prio-highest {
    background-color: #ff0000;
}

.prio-higher {
    background-color: #ff2200;
}

.prio-high {
    background-color: #ff6600;
}

.prio-info {
    background-color: #0066ff;
}

.dist-info {
    color: gray;
}

.date-info {
    color: gray;
}

.open-button {
    border: 1px;
    padding: 5px;
    padding-left: 10px;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    float: right;
    font-weight: bold;
    font-size: 0.7em;
    color: gray;
}

.map-icon {
    font-size: 1rem;
    padding-left: 2px;
    vertical-align: middle;
}
