$ctlwidth: 200px;
$margintop: 10px;

.controls-container {
    margin: auto;
    width: 100%;
    padding-bottom: 20px;
}

.pos-btn {
    margin-top: $margintop;
}

.area-dd {
    margin-top: $margintop;
    margin-bottom: $margintop;
}

:host ::ng-deep {
    .sr-button {
        border-radius: 10px;
    }
}

.search-ctn,
.showmap-ctn,
.sort-ctn {
    margin-top: $margintop;
}

.sort-filt-ctn {
    font-weight: bold;
    margin-top: $margintop;
    margin-bottom: $margintop;
}

:host::ng-deep {
    .p-button-icon {
        font-size: 2rem;
    }
    .p-button {
        width: $ctlwidth;
    }
    .p-dropdown {
        min-width: $ctlwidth;
    }
}
