.controls-container {
    margin: auto;
    width: 100%;
    padding-bottom: 30px;
}

.pos-btn {
    float: left;
}

.area-dd {
    padding-left: 10px;
}

:host ::ng-deep {
    .sr-button {
        border-radius: 10px;
    }
}

.search-ctn,
.showmap-ctn,
.sort-ctn {
    margin-top: 10px;
}

.sort-filt-ctn {
    font-weight: bold;
    margin: 10px;
}
