<div>
    <div class="controls-container">
        <table class="pos-btn table-ctn">
            <tr>
                <td>
                    <p-button styleClass="sr-button" [disabled]="isLoading" (click)="onFetchPosition()"
                        icon="pi pi-compass" iconPos="right">Hämta din position
                    </p-button>
                </td>
                <td *ngIf="position && position.lng" class="lnglat-ctn" (click)="onShowUserOnMap()">
                    <div class="p-grid">
                        <div class="p-col-8">
                            <div>
                                lng:{{position.lng | number:'3.1-5'}}
                            </div>
                            <div>
                                lat:{{position.lat | number:'3.1-5'}}
                            </div>

                        </div>
                        <div class="p-col-4">
                            <i class="pi pi-globe latlng-globe"></i>

                        </div>

                    </div>

                </td>
            </tr>
        </table>
        <div class="area-dd">
            <p-dropdown [disabled]="isLoading" [(ngModel)]="selectedArea" [options]="areaOptions"
                (onChange)="onAreaChanged($event)" placeholder="Välj område"></p-dropdown>
        </div>
        <div class="sortfilt-ctn" *ngIf="(!messages || messages.length === 0) else sortfilt">
        </div>
        <div class="showmap-ctn" *ngIf="hasMessagesToDisplay()">
            <p-button styleClass="sr-button" [disabled]="isLoading" (click)="onShowAllPositionsOnMap()"
                icon="pi pi-globe" iconPos="right">Visa
                alla på kartan</p-button>
        </div>
    </div>
    <div *ngIf="messages">
        <div *ngFor="let m of messages; index as i;">
            <app-info-card *ngIf="matchesKeyword(m) && matchesFilter(m)" [message]=m [showMapLink]="true"
                [userPos]="position">
            </app-info-card>
        </div>
    </div>
</div>

<ng-template #sortfilt>
    <p-accordion>
        <p-accordionTab header="Sortering & filtrering">
            <div class="search-ctn">
                <div class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText placeholder="Sök" [(ngModel)]="keyword" />
                </div>
            </div>

            <div class="p-grid">
                <div class="p-col-6">
                    <div class="sort-filt-ctn">
                        Sortering
                    </div>
                    <div class="p-field-radiobutton">
                        <p-radioButton (onClick)="onSortOrdeChanged()" value="1" [(ngModel)]="sortOrder"
                            label="Högst prioritet"></p-radioButton>
                    </div>
                    <div class="p-field-radiobutton">
                        <p-radioButton (onClick)="onSortOrdeChanged()" value="3" [(ngModel)]="sortOrder"
                            label="Senaste">
                        </p-radioButton>
                    </div>
                    <div class="p-field-radiobutton" *ngIf="position.lat">
                        <p-radioButton (onClick)="onSortOrdeChanged()" value="2" [(ngModel)]="sortOrder"
                            label="Närmast"></p-radioButton>
                    </div>
                </div>
                <div class="p-col-6">
                    <div class="sort-filt-ctn">
                        Filtrering
                    </div>
                    <div class="p-field-checkbox">
                        <p-checkbox [(ngModel)]="includeCategoryOther" binary="true" label="Visa kategori 'Övrigt'">
                        </p-checkbox>
                    </div>
                    <div class="p-field-checkbox">
                        <p-checkbox [(ngModel)]="showTodayOnly" binary="true" label="Endast idag"></p-checkbox>
                    </div>
                    <div class="p-field-checkbox">
                        <p-checkbox [(ngModel)]="showOnlyPublicTransport" binary="true" label="Endast kollektivtrafik">
                        </p-checkbox>
                    </div>
                </div>
            </div>
        </p-accordionTab>
    </p-accordion>
</ng-template>