<div>
    <div class="controls-container">
        <span class="pos-btn">
            <p-button styleClass="sr-button" [disabled]="isLoading" (click)="onFetchPosition()">Hämta position
            </p-button>
        </span>
        <span class="area-dd">
            <p-dropdown [disabled]="isLoading" [(ngModel)]="selectedArea" [options]="areaOptions"
                (onChange)="onAreaChanged($event)" placeholder="Välj område"></p-dropdown>
        </span>
        <div class="showmap-ctn">
            <p-button styleClass="sr-button" [disabled]="isLoading || !hasMessagesToDisplay()"
                (click)="onShowAllPositionsOnMap()">Visa
                alla på kartan</p-button>
        </div>
        <div class="search-ctn">
            <div class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Sök" [(ngModel)]="keyword" />
            </div>
        </div>
        <div class="sort-ctn" *ngIf="messages && messages.length > 0">
            <p-accordion>
                <p-accordionTab header="Sortering & filtrering">
                    <div class="p-grid">
                        <div class="p-col-6">
                            <div class="sort-filt-ctn">
                                Sortering
                            </div>
                            <div class="p-field-radiobutton">
                                <p-radioButton (onClick)="onSortOrdeChanged($event)" value="1" [(ngModel)]="sortOrder"
                                    label="Högst prioritet"></p-radioButton>
                            </div>
                            <div class="p-field-radiobutton">
                                <p-radioButton (onClick)="onSortOrdeChanged($event)" value="3" [(ngModel)]="sortOrder"
                                    label="Senaste">
                                </p-radioButton>
                            </div>
                            <div class="p-field-radiobutton" *ngIf="position.lat">
                                <p-radioButton (onClick)="onSortOrdeChanged($event)" value="2" [(ngModel)]="sortOrder"
                                    label="Närmast"></p-radioButton>
                            </div>
                        </div>
                        <div class="p-col-6">
                            <div class="sort-filt-ctn">
                                Filtrering
                            </div>
                            <div class="p-field-checkbox">
                                <p-checkbox [(ngModel)]="showInformation" binary="true" label="Inkl. låg prioritet">
                                </p-checkbox>
                            </div>
                            <div class="p-field-checkbox">
                                <p-checkbox [(ngModel)]="showTodayOnly" binary="true" label="Endast idag"></p-checkbox>
                            </div>
                            <div class="p-field-checkbox">
                                <p-checkbox [(ngModel)]="showOnlyPublicTransport" binary="true"
                                    label="Endast kollektivtrafik"></p-checkbox>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
    <div *ngIf="messages">
        <div *ngFor="let m of messages; index as i;">
            <app-info-card *ngIf="matchesKeyword(m) && matchesFilter(m)" [message]=m></app-info-card>
        </div>
    </div>
</div>