#map {
    height: 78vh;
    width: 100%;
}

:host::ng-deep {
    .ol-zoom-in,
    .ol-zoom-out,
    .ol-rotate-reset {
        width: 1.5em;
        height: 1.5em;
        font-size: 1.5em;
        opacity: 0.7;
        margin: 0;
        padding: 0;
        border: 2;
    }
    .ol-hidden {
        display: none;
    }
    .ol-attribution > button {
        display: none;
    }
    .ol-attribution {
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    }
    .ol-attribution {
        font-size: 0.7em;
        padding-bottom: 5px;
    }
    .ol-compass {
        margin-left: -3px;
    }
}
