#map {
    height: 78vh;
    width: 100%;
}

:host::ng-deep {
    .ol-zoom-in,
    .ol-zoom-out,
    .ol-rotate-reset {
        width: 1.8em;
        height: 1.8em;
        font-size: 1.5em;
        font-weight: bold;
        opacity: 0.5;
        margin: 5px;
        padding: 0;
        border: 2;
        border-radius: 0;
        background-color: lightgray;
    }
    .ol-hidden {
        display: none;
    }
    .ol-attribution > button {
        display: none;
    }
    .ol-attribution {
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    }
    .ol-attribution {
        font-size: 0.7em;
        padding-bottom: 5px;
    }
    .ol-compass {
        margin-left: -3px;
    }
}
