@use './base.scss';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/rhea/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeflex/primeflex.css';

* {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (min-width: 800px) {
    body {
        max-width: 75%;
        margin: 0 auto !important;
    }
}

.clickable {
    cursor: pointer;
}

.sr-sidebar.p-sidebar {
    width: 100%;
}

.sr-bottomsidebar.p-sidebar {
    height: 50%;
}

.close-button {
    font-size: 2.5em;
    font-weight: bold;
    vertical-align: middle;
    padding-right: 10px;
}

.p-sidebar-active {
    overflow-y: scroll;
}

.details-header-text {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 20px;
}

.clear {
    clear: both;
}

.p-button-icon {
    font-size: 1.5rem;
}
.sr-button.p-button {
    width: 100%;
    border-radius: 10px;
    max-width: 100%;
    margin-left: base.$marginlr;
    margin-right: base.$marginlr;
}
.sr-button-wide.p-button {
    width: 100%;
    border-radius: 10px;
    max-width: base.$ctlwidth-wide;
    margin-left: base.$marginlr;
    margin-right: base.$marginlr;
}

.p-dropdown {
    max-width: base.$ctlwidth-wide;
    min-width: base.$ctlwidth;
    width: 100%;
    margin-left: 8px;
    margin-right: -8px;
}
.center {
    margin: auto;
}
