@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/rhea/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeflex/primeflex.css';

* {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.p-dropdown {
    max-width: 128px;
}

.clickable {
    cursor: pointer;
}

.sr-sidebar.p-sidebar {
    width: 100%;
}

.sr-bottomsidebar.p-sidebar {
    height: 50%;
}

.close-button {
    font-size: 2.5em;
    font-weight: bold;
    vertical-align: middle;
    padding-right: 10px;
}

.p-sidebar-active {
    overflow-y: scroll;
}

.details-header-text {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 20px;
}

.clear {
    clear: both;
}

$ctlwidth: 200px;

.p-button-icon {
    font-size: 2rem;
}
.sr-button.p-button {
    width: $ctlwidth;
    border-radius: 10px;
}
.p-dropdown {
    min-width: $ctlwidth;
}
